@charset "utf-8";
.date-picker {
	z-index: 2;	
	border-radius: 4px;
	-webkit-box-shadow: 0 7px 20px 7px rgba(0,0,0,0.25);
	box-shadow: 0 7px 20px 7px rgba(0,0,0,0.25);
}

.date-picker.timeline-date-picker {
	position: absolute;
	left: 50%; top: 44px;
	margin: 0 0 0 -210px;
}
.date-picker.user-card-slide-datepicker {
    position: absolute;
    left: 50%; top: 90px;
    margin: 0 0 0 -210px;
}
.date-picker.user-card-event-datepicker {
	position: absolute;
	left: 19px; top: 85px;
}
.date-picker.user-card-event-datepicker.Cal__Container__root:after {
	left: 70px; margin-left: 0;
}

.Cal__Container__root:after{
	width: 16px; height: 6px; display: block; content: '';
	position: absolute; top: -5px; left: 50%; margin-left: -8px;
	background: url(../image/common/bullet-arrow-top.png) center center no-repeat;
}

.Cal__Container__wrapper {
	border-radius: 4px;
	overflow: hidden;
	text-align: left;
}

.Cal__Header__root {
	display: none;
}

.Cal__Container__listWrapper {
	font-family: 'notokr-bold';	
	background-color: #292929;
	-webkit-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;
}
.Cal__MonthList__root {
	background-color: transparent;
}
.Cal__MonthList__root .overview {
	width: 100%;
}
.Cal__Container__root .ReactVirtualized__List {}

.Cal__List__root {
	width: auto !important;
	margin-right: -17px;
}
.Cal__Today__root.Cal__Today__show {
	font-size: 12px;
	letter-spacing: -0.2px;
	height: 27px;
	line-height: 27px;
	text-transform: uppercase;
}

.Cal__Weekdays__root {
	padding-right: 0 !important;
	border-radius: 4px 4px 0 0;
	/*box-shadow: 0 40px 70px 0 rgba(50,50,50, 1);*/
}
/* script로 초기 삽입됀 element */
/*.Cal__Container__Shadow__Bottom {
	border-radius: 4px; overflow: hidden;
	position: absolute; left: 30px; right: 30px; bottom: 15px; content: '';
	box-shadow: 0 0 70px 20px rgba(50,50,50, 1);
}*/
.Cal__Weekdays__day {
	font-size: 13px;
	padding: 14px 0;
	color: #808080;
	font-family: 'notokr-medium';
}

/* 각 월 outer div */

.Cal__Month__root {
	padding: 0;
}
.Cal__Month__rows {
	background: -webkit-linear-gradient(top, rgba(41, 41, 41, 1) 50%, rgba(35, 35, 35, 1) 100%);
    background: linear-gradient(to bottom, rgba(41, 41, 41, 1) 50%, rgba(35, 35, 35, 1) 100%);
}
/* 매월 마지막주가 다음달 첫주와 한줄로 표시되는 경우의 cell */
.Cal__Month__row.Cal__Month__partial:last-of-type li {
	background-color: rgb(38, 38, 38);
}
/* 매월 1일 cell */
.Cal__Month__row.Cal__Month__partial:first-child li:first-child {
	border: 0;
	box-shadow: 0px -1px 0 #212121, inset 1px 0 0 #212121;
}
.Cal__Month__row:nth-child(2) {
	box-shadow: 0 -1px #212121;

}
.Cal__Month__row:nth-child(2),
.Cal__Month__row:first-child li {
	background-color: rgb(41, 41, 41);
	box-shadow: 0 -1px #212121;
}
.Cal__Day__root {
	font-size: 13px;
	color: #999;
	letter-spacing: -0.5px;
}
.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted, 
.Cal__Day__root.Cal__Day__enabled:active, 
.Cal__Day__root.Cal__Day__enabled:hover {
	color: #999;
}
.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before, 
.Cal__Day__root.Cal__Day__enabled:active:before, 
.Cal__Day__root.Cal__Day__enabled:hover:before {
	background-color: #1a1a1a;	
}
.Cal__Day__root.Cal__Day__today:before {
	color: #e60b25;	
	box-shadow: none;
}
.Cal__Day__root.Cal__Day__today:after {
    color: #fb3e50;
    font-family: 'notokr-regular';
    text-transform: uppercase;
    content: 'TODAY';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    font-size: 10px;
    line-height: 1;
    text-align: center;
}
.Cal__Day__root.Cal__Day__selected > .Cal__Day__month, 
.Cal__Day__root.Cal__Day__selected > .Cal__Day__year {
}
/* style for size only*/
.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before, 
.Cal__Day__root.Cal__Day__enabled:active:before, 
.Cal__Day__root.Cal__Day__enabled:hover:before,
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection,
.Cal__Day__root.Cal__Day__today:before {
	width: 36px;
	height: 36px;
	margin: -18px 0 0 -18px;	
}
.Cal__Day__root.Cal__Day__selected.Cal__Day__today .Cal__Day__selection .Cal__Day__day {
	color: #fff;
}
.Cal__Day__root.Cal__Day__selected.Cal__Day__today:after{
	display: none;
}
.Cal__Month__row.Cal__Month__partial:first-child li:first-child .Cal__Day__month,
.Cal__Day__root.Cal__Day__selected.Cal__Day__today .Cal__Day__selection .Cal__Day__month {
	visibility: visible;
}
/* actived cell */
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__day {
	font-size: inherit;
	top: -10px;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__month {
	top: -13px;
	color: #fb3e50;
	text-transform: uppercase;
	visibility: hidden;
}
/**/
.Cal__Day__root.Cal__Day__today span {
	color: #fb3e50;
}
.Cal__Day__root.Cal__Day__enabled:hover:before {
	opacity: 1;
}
.Cal__Day__root .Cal__Day__year {
	font-size: 11px;
	font-family: 'notokr-regular';
}
.Cal__Day__root .Cal__Day__month {
	font-size: 10px;
	font-family: 'notokr-regular';
}


/* 월별 Bg color 관련 스타일 */
.Cal__Month__root:nth-of-type(odd){
	background: #2e2e2e;
}
.Cal__Month__root:nth-of-type(odd) .Cal__Month__row:nth-child(2),
.Cal__Month__root:nth-of-type(odd) li {
	background: #2e2e2e;
}