@charset "utf-8";

html, body{background-color: #f2f2f2;}
html {overflow: auto; min-width: 768px;}
body {overflow: hidden;}
.overflow-hidden {overflow: hidden !important;}

#root {height: 100%;}
#root #wrapper-outer {width: 100%;height: 100%;display: table;}
#root #wrapper-outer #wrapper {display: table-row;}

#header {min-width: 68px; width: 80px;background-color: #000;color: #FFF;z-index: 2;display: table-cell;position: relative;vertical-align: top;}
#header .header-brand-logo a{height: 90px;text-indent: -9999px;display: block;overflow: hidden;background: url(../image/common/brand-logo.png) center 33px no-repeat;}

#header .header-nav{margin-bottom: 90px;}
#header .header-nav > li > a{text-indent: -9999px;height: 58px;line-height: 58px;color: #fff;display: block;overflow: hidden;background-repeat: no-repeat;background-position: center center;position: relative;}
#header .header-nav > li:not(.has-submenu) > a:hover,
#header .header-nav > li:not(.has-submenu) > a:focus,
#header .header-nav > li:not(.has-submenu) > a.active{background-color: #333;}
#header .header-nav > li.nav-reservation > a{background-image: url(../image/common/nav-daily.png);}
#header .header-nav > li.nav-customer > a{background-image: url(../image/common/nav-customer.png);}
#header .header-nav > li.nav-search > a{background-image: url(../image/common/nav-search.png);}

#header .header-nav > li.nav-reservation:hover > a,
#header .header-nav > li.nav-reservation > a:focus,
#header .header-nav > li.nav-reservation > a.active{background-image: url(../image/common/nav-daily-on.png);}
#header .header-nav > li.nav-customer > a:hover,
#header .header-nav > li.nav-customer > a:focus,
#header .header-nav > li.nav-customer a.active{background-image: url(../image/common/nav-customer-on.png);}
#header .header-nav > li.nav-search > a:hover,
#header .header-nav > li.nav-search > a:focus,
#header .header-nav > li.nav-search > a.active{background-image: url(../image/common/nav-search-on.png);}
/* 2depth 관련 스타일*/
#header .header-nav > li.has-submenu > a:before {
  display: block;content:'';position: absolute;left: 0;right: 0;bottom: 0;margin: 0 0 7px 0;
  background: url(../image/common/bullet-arrow-down.png) center center no-repeat;width: 100%;height: 3px;
}
#header .header-nav-sub {height: 0;overflow: hidden;transition: .2s height ease;}
#header .header-nav-sub li{text-align: center;margin-bottom: 4px;position: relative;}
#header .header-nav-sub li:last-child{margin-bottom: 0;}
#header .header-nav-sub li button {border: 0; background: none; text-shadow: none;  box-shadow: none;position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
#header .header-nav-sub li a,
#header .header-nav-sub li button{
  line-height: 22px;font-size: 11px;font-family: 'notokr-bold'; letter-spacing: -0.2px;color: rgba(255,255,255, .3);display: block;height: 22px;
  border-radius: 12px;background-color: #202020;width: 76%;margin: 0 12%;
}
#header .header-nav-sub li a:hover,
#header .header-nav-sub li button:hover,
#header .header-nav-sub li a:focus,
#header .header-nav-sub li button:focus,
#header .header-nav-sub li a.active,
#header .header-nav-sub li a.active ~ button {color: #fff;}


#header .header-nav > li:hover .header-nav-sub,
#header .header-nav > li > a.active ~ .header-nav-sub{display: block;height: 56px;}


#header .nav-notifier-wrap {}
#header .nav-notifier{
	width: 36px;margin: 0 auto;border: 1px solid #000;position: relative;
}
#header .nav-notifier .button{
	display: block;width: 100%;overflow: hidden;padding: 0 1px;height: 34px;
	background-image: url(../image/common/nav-notifier.png); background-repeat: no-repeat; background-position: 0 0;
}
#header .nav-notifier .button:hover,
#header .nav-notifier .button:focus  {
	background-position: 0 -34px;
}
#header .nav-notifier .button.active {
	background-position: 0 -68px !important;
}
#header .nav-notifier .button i {
	text-indent: -9999px;color: transparent;overflow: hidden;display: block;
}
#header .nav-notifier .button .state{
	font-size: 12px;height: 18px;line-height: 18px;color: #fff;font-family: 'notokr-bold';
	position: absolute;left: 22px;top: -8px;text-align: center;border-radius: 9px;
	padding: 0 5px;background-color: #e60b25;display: block;letter-spacing: -0.3px;
}

#header .link-profile {position: absolute;left: 0;right: 0;bottom: 0;border-top: 1px solid #333333;background-color: #000;}
#header .link-profile a{background: url(../image/common/profile.png) 0 0 no-repeat;display: block;width: 42px;height: 42px;border-radius: 50%;overflow: hidden;margin: 20px auto;text-indent: -9999px;}

#container {height: 100%;display: table-cell;overflow: auto;}

/* 투명 마스크 (접근성 클릭관련 레이어)*/
.mask-transparent {position: absolute;left: 0;top: 0; right: 0; bottom: 0;display: block;z-index: 10;}

/* 레이어팝업 */
.modal-mask {background-color: rgba(0,0,0,0.7); position: fixed; right: 0;left: 80px; top: 92px; height: 100%;z-index: 3;}
.modal-mask.mask-full {top: 0;left: 80px;}
.modal-mask.mask-white{background-color: rgba(255,255,255,0.7);}
.modal-mask.mask-event {position: fixed; z-index: 3; }
.modal-mask.mask-overview {z-index: 0;position: absolute;right: 0;bottom: 0;left: 0 !important;top: -28px;padding-bottom: 28px;}

.modal-mask .modal-layer {position: absolute;left: 50%;top:50px;background-color: #fff;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.modal-mask .modal-layer.layer-center {top: 50%; -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}

/* 미리알림 활성화시 mask 포지션*/
.opened-notifier .modal-mask {left: 438px;}

/* 삭제/수정 버튼 [고객카드 등]*/
.btn-edit{background: url(../image/common/slot-ui-edit.png) center center no-repeat;text-indent: -9999px;overflow: hidden;}
.btn-delete{background: url(../image/common/slot-ui-delete.png) center center no-repeat;text-indent: -9999px;overflow: hidden;}

/* 하단 가이드 영역 */
.guider-wrap {position: fixed;bottom:0;right: 0;left: 0;background-color: #006cf0;height: 38px;text-align: center;z-index: 1;}
.guider-wrap .message{line-height: 38px;color: #fff;font-family: 'notokr-bold';letter-spacing: -0.3px;}
.guider-wrap .close{position: absolute; right: 0;top:0;bottom: 0;width: 38px;text-indent: -9999px;overflow: hidden;font-size: 0;background: url(../image/common/btn-close-4.png) center center no-repeat;}

.loading-mask {
  position: fixed;z-index: 10;width: 100%;height: 100%;left: 0;top: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.loading-mask .loading-progressbar {
  text-align: center;color: #FFF;font-size: 20px;
  position: absolute; top: 50%; left: 50%;
  width: 50px;height: 50px;margin: -25px 0 0 -25px;    
}


/* 공통 CSS애니메이션 클래스 */
/* Notifier Modal appear animation */
@-webkit-keyframes bounceInRight {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0)
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0)
  }
  100% {
    -webkit-transform: none;
    transform: none
  }
}
@keyframes bounceInRight {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    -ms-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    -ms-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0)
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0)
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
		  animation-name: bounceInRight;

  -webkit-animation-duration: .6s;
  		  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  		  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  		  animation-name: slideInUp;
  -webkit-animation-duration: .6s;
		  animation-duration: .6s;
  -webkit-4animation-fill-mode: both;
  		  animation-fill-mode: both;
}
@-webkit-keyframes slideOutDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
}
@keyframes slideOutDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
}
.slideOutDown {
  -webkit-animation-name: slideOutDown;
  		  animation-name: slideOutDown;
  -webkit-animation-duration: .6s;
		  animation-duration: .6s;
  -webkit-4animation-fill-mode: both;
  		   animation-fill-mode: both;
}



/* 데스크톱 */
@media screen and (max-width: 1439px) {
	#header {
		width: 68px;
	}
	#header .header-brand-logo a {
		background-image: url('../image/common/brand-logo-sm.png');
		background-position: center center;
	}
	#header .header-nav{
		margin-bottom: 70px;
	}
	#container {
		margin-left: 68px;
	}
	.modal-mask{
		top: 46px;
		left: 68px;
	}
	.modal-mask.mask-full {
		left: 68px;
	}
  /* 미리알림 활성화시 mask 포지션*/
  .opened-notifier .modal-mask {
    left: 426px;
  }  
}
/* // 데스크톱 END */

/* tablet */
@media screen and (max-width: 1023px) {
  /* 미리알림 활성화시 mask 포지션*/
  .opened-notifier .modal-mask {
    left: 320px;
  }  
}


/* screen height별 미디어쿼리 */
@media screen and (max-height: 650px) {

	#header .header-nav{
    margin-bottom: 20px;
  }
  
}

@media screen and (min-height: 1024px) {

  .modal-mask .modal-layer{
    top: 50%; -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
  }

}
