@charset "utf-8";
.Select-wrap {
  clear: both;
}
.Select {
  font-family: 'notokr-medium';position: relative; width: 100%;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select-control {
  font-family: inherit;width: 100%; height: 54px ;display: block; line-height: 54px;
  text-align: left;position: relative;z-index: 1;border-radius: 7px;padding: 0 19px;
  border-radius: 7px;border: 1px solid #d9d9d9;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
.Select-control:hover {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open:not(.is-searchable) > .Select-control {
  background: #f7f7f7;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0 2px 8px 0px rgba(0,0,0,0.25);
          box-shadow: 0 2px 8px 0px rgba(0,0,0,0.25);
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #aaa;
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  cursor: pointer;font-size: 0; letter-spacing: -0.2px; color: #666666;
  max-width: 90%;vertical-align: middle;height: 54px;bottom: 0;left: 0;
  line-height: 54px;padding: 0 20px; position: absolute;right: 0;top: 0;
  overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;
  white-space: nowrap;
}
.Select-placeholder {font-size: 16px;max-width: none;}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  font-size: 16px; display: inline-block;letter-spacing: -0.2px; color: #000;
  max-width: 300px;overflow: hidden;-ms-text-overflow: ellipsis;vertical-align: middle;
  white-space: nowrap;text-overflow: ellipsis;vertical-align: middle;height: 54px;
}
.Select-input{
  max-width: 90%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.Select-input > input {
  display: block;
  background: none transparent;margin: 0;cursor: text; color: #000;
  font-size: 16px; font-family: inherit; display: inline-block;letter-spacing: -0.2px;
  border: 0 none;box-shadow: none;display: inline-block;outline: none;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}

.Select-clear-zone {
  float: right;
  position: relative;
  z-index: 1;
  height: 44px;
}
.Select-clear-zone .Select-clear {
  display: inline-block;
  width: 20px;
  height: 44px;
  font-size: 0;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
  background: url(../image/common/btn-delete.png) center center no-repeat;
}
.Select--multi .Select-clear-zone {
  border: 1px solid red;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  text-indent: -9999px;
  overflow: hidden;
  float: right;
  background: url(../image/common/input-selectdown.png) right center no-repeat;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: purple;
}
.is-open .Select-arrow-zone {
  /* 오픈시 불릿 상하전환 */
      -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
          transform: rotate(180deg);
  background-position: left center;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select-menu-outer {
  position: absolute;
  top: 50px;
  left: 0;
  width: 415px;
  z-index: 2;
  padding: 0;
  min-width: 100%;
  max-height: 321px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 0;
  -webkit-border-radius: 0 0 7px 7px;
          border-radius: 0 0 7px 7px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-box-shadow: 0 5px 8px 0px rgba(0,0,0,0.2);
          box-shadow: 0 5px 8px 0px rgba(0,0,0,0.2);
}
.Select-menu {
  background-color: #fff;
}
.Select-option {
  cursor: pointer;
  display: block;
  height: 64px;
  padding: 0 20px;
  line-height: 64px;
  color: #000;
  font-size: 16px;
  letter-spacing: -0.2px;
  font-family: 'notokr-medium';
}
.Select-value .thumbnail,
.Select-option .thumbnail{
  width: 38px;height: 38px;border-radius: 50%;
  overflow: hidden;display: inline-block;vertical-align: middle;
  margin-right: 10px;margin-top: -3px;
}
.Select-value .thumbnail img,
.Select-option .thumbnail img{
  width: 100%;height: 100%;display: block;
}

.Select-option.is-selected {
  background-color: #e6e6e6;
}
.Select-option.is-focused {
  background-color: #e6e6e6;
}
.Select-noresults {
  padding: 10px 20px;
  color: #aaa;
  font-size: 14px;
  font-family: 'notokr-light';
}
/* selectable 기능의 셀렉트 스타일 */
.selectable .Select-clear-zone {
  display: none;
}


/* Searchable 기능의 셀렉트 스타일 */
.searchable .Select-control {
  height: 44px;
  background: #fff;
  border-color: #d9d9d9;
  overflow: hidden;
}
.searchable .is-focused .Select-control {
  border-color: #808080;
}
.searchable .Select-placeholder,
.searchable .Select--single > .Select-control .Select-value {
  max-width: none;
  cursor: text;
  height: 44px;
  line-height: 44px;
  background: #f7f7f7;
}
.searchable .has-value.Select--single > .Select-control .Select-value .Select-value-label,
.searchable .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  height: 44px;
}
.searchable .Select-placeholder {
  background-image: url(../image/common/input-search.png);
  background-position: 95% center;
  background-repeat: no-repeat;
}
.searchable .Select-input {
  font-size: 0;
  height: 44px;
  line-height: 44px;
}
.searchable .Select-arrow-zone {
  display: none;
}
.searchable .Select-menu{
  border: 0;
}
.searchable .Select-menu-outer {
  margin-top: 6px;
  background-color: #f7f7f7;
  font-family: 'notokr-bold';
  font-size: 15px;
  color: #666666;
  border-radius: 7px;
  border: 1px solid #ccc;
}
.searchable .Select-option {
  height: 48px;
  line-height: 48px;
  background-color: transparent;
}
.searchable .Select-option > div{
  height: 48px;
}
.searchable .Select-option.is-focused{
  background-color: #808080 !important;
}
.searchable .Select-option.is-focused span {
  color: #fff;
}
.searchable .Select-option.is-selected {
  background: none;
}

/* 예약생성 서비스입력 인풋 검색영역 스타일 */
.search-product .Select-value-label .label {
  font-size: 16px;  
  margin-right: 5px;
}
.search-product .Select-value-label .service-time {
  font-size: 13px;
  color: #808080;
}
.search-product .Select-value-label .checked {
  position: absolute;
  right: 20px;top: 0;
}
.search-product .Select-option span {
  margin-right: 4px;
}
.search-product .Select-option .bullet {
  margin: 0;
}
.search-product .Select-option .bullet{
  margin-right: 4px;width: 6px;height: 6px;
  display: inline-block;border-radius: 50%;  
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.search-product .Select-option.is-focused .bullet {
  visibility: hidden;
}
.search-product .Select-option .label {
  font-size: 15px;
  color: #666666;
}
.search-product .Select-option .service-time{
  font-size: 12px;
  color: #b2b2b2;
}
.search-product .Select-option .price{
  float: right;
  font-size: 12px;
  margin: 0;
  color: #b2b2b2;
}

/* 상품 색상별 스타일 */
.Select-option.red    .bullet{background-color: #d97759;}
.Select-option.yellow .bullet{background-color: #d9a521;}
.Select-option.blue   .bullet{background-color: #6b7bb3;}
.Select-option.purple .bullet{background-color: #8f6bb3;}
.Select-option.green  .bullet{background-color: #6bb3a3;}

.search-product .Select-option.is-focused.red   {background-color: #d97759 !important;}
.search-product .Select-option.is-focused.yellow{background-color: #d9a521 !important;}
.search-product .Select-option.is-focused.blue  {background-color: #6b7bb3 !important;}
.search-product .Select-option.is-focused.purple{background-color: #8f6bb3 !important;}
.search-product .Select-option.is-focused.green {background-color: #6bb3a3 !important;}


/* CUSTOM COMPONENT (검색 옵션)*/
.Select-filter-wrap {    
  background: #333333;
  position: absolute;
  left: 0; right: 0; top: 55px;  
}
.Select-filter-container {
  margin: 0 16px;
  text-align: center;
  height: 40px;
}
.Select-filter-option {
  display: inline-block;
  overflow: hidden;
  height: 100%;
}
.Select-filter-option input {  
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: -999px; left: -999px;
}
.Select-filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  line-height: 40px;
  height: 40px;
  padding: 0 15px 0 35px;
}
.Select-filter-option label:before,
.Select-filter-option label:after {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: 13px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.Select-filter-option label:before {
  width: 14px; height: 14px;
  border: 1px solid #575757;
}
.Select-filter-option label:after {
  width: 10px; height: 10px;
  margin: 3px 0 0 3px;
}
.Select-filter-option input:checked ~ label:after {
  background-color: #CCCCCC;
}

/* searchable user-card 슬라이더 에서의 스타일 */
#change-product {
  width: 420px;
  position: absolute;
  top: 133%; left: -12px;
  z-index: 1;
  -webkit-box-shadow: 0 45px 8px 5px rgba(0,0,0, .2);
          box-shadow: 0 45px 8px 5px rgba(0,0,0, .2);
}
#change-product.arrow-border-dark:after, 
#change-product.arrow-border-dark:before {
  left: 18%;
}
#change-product .Select {}
#change-product .Select-input{
  height: 54px;
  line-height: 54px;
}
#change-product .Select-input input {
  color: #fff;
}
#change-product .Select-placeholder {
  color: #808080;
}
#change-product .Select-control {
  border: 0;
  overflow: hidden;
  -webkit-border-radius: 7px 7px 0 0;
          border-radius: 7px 7px 0 0 !important;
}
#change-product .Select-control,
#change-product .Select-placeholder,
#change-product .Select-value {
  border-radius: 0;
  height: 55px !important;
  line-height: 55px !important;
  padding-left: 45px !important;
  background: #474747 url(../image/common/input-search-large.png) 15px center no-repeat !important;
}
#change-product .Select-value-label {
  line-height: 44px;
}
#change-product .Select-value-label .label{
  color: #fff;
}
#change-product .Select-value-label .service-time{
  color: #969696;
}
#change-product .Select-value .checked{
  margin-left: 5px;
  float: right;
}
#change-product .Select .Select-noresults {
  height: 40px;
  line-height: 40px;
  padding-top: 0;
}
#change-product .Select-filter-option label{
  font-size: 11px;
  color: #808080;  
  font-family: 'notokr-bold';
}
#change-product .Select-filter-option input:checked ~ label{
  color: #ccc;
}

#change-product .Select-menu-outer {
  margin: 0;
  position: relative;
  top: 40px;
  background: none;
  border-radius: 0;
  border: 0;
  border-top: 1px solid #262626;
  margin-right: 2px;
  background-color: #333;
  -webkit-border-radius: 0 0 7px 7px;
          border-radius: 0 0 7px 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#change-product .Select-menu-outer:after {   
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  content: '';
  display: block;
  box-shadow: 0 0 30px 50px rgba(50,50,50, 1);
  opacity: .6;
}
#change-product .Select-menu{
  margin-right: 3px;
  background: none;
}
#change-product .Select-option{
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 15px;
}
#change-product .Select-option > div {
  height: 100%;
}
#change-product .Select-option.is-selected,
#change-product .Select-option.is-focused{
  background-color: #212121 !important;
}
#change-product .Select-option span {
  font-size: 13px;
  margin-right: 4px;
}
#change-product .Select-option .bullet{
  background-color: #aaa;
  margin-right: 6px;width: 8px;height: 8px;
  display: inline-block;border-radius: 50%;
}
#change-product .Select-option .label {
  font-size: 13px;
}
#change-product .Select-option .service-time {
  font-size: 12px; color: #b2b2b2;
  font-family: 'notokr-regular';
}
#change-product .Select-option .price {
  font-size: 13px; color: #808080;
  line-height: 40px;
  float: right;
}


/* 상품 색상별 option text style */
#change-product .Select-option.red    .label{color: #faceda !important;}
#change-product .Select-option.yellow .label{color: #fae8ce !important;}
#change-product .Select-option.blue   .label{color: #d3e9f4 !important;}
#change-product .Select-option.purple .label{color: #f5dffa !important;}
#change-product .Select-option.green  .label{color: #d6f4ef !important;}


/* 고객검색 인풋 검색영역 스타일 */
.search-customer {
  margin-bottom: 12px;
}
.search-customer .Select-option .label {
  margin-right: 6px;
}
.search-customer .Select-option .rating {
  font-size: 13px;
  color: #999999;
}

.search-customer .Select-value-label{
  width: 100%; max-width: none !important;
}
.search-customer .Select-value-label .label{
  margin-right: 6px; font-size: 16px;font-family: 'notokr-medium';letter-spacing: -0.2px;color: #000;
}
.search-customer .Select-value-label .checked{
  float: right;
}
.search-customer .Select-value-label .rating{
  font-size: 13px;letter-spacing: -0.2px;font-family: 'notokr-bold';color: #bbb;
}
.search-customer .Select-value-label .rating.VIP{
  color: #d47b00;
}
.search-customer .Select-value-label .rating.BAD{
  color: #b1282f;
}




/* selectable user-card 슬라이더 에서의 스타일 */
#select-slide {max-width: 320px;text-align: left;float: left;margin-right: 10px;}
#select-slide .Select{margin-left: 23px;}
#select-slide .Select-control{
  position: relative;background: none;z-index: 1;border: 0;padding: 0;float: left;
  width: auto;height: 48px;line-height: 48px;color: #212121;font-size: 13px;font-family: 'notokr-bold';
}
#select-slide .Select-arrow-zone{display: none;}
#select-slide .Select-control .Select-value{
  letter-spacing: 0;
  color: #fff;
  max-width: none;
  vertical-align: middle;
  height: 100%;
  line-height: inherit;
  padding: 0;
  position: static;
  overflow: hidden;
  -ms-text-overflow: auto;
  text-overflow: auto;
  white-space: pre-wrap;
}
#select-slide .Select-control .Select-value-label{
  font-size: 13px;  
  color: #fff;
  opacity: .7;
  height: auto;
  padding-right: 10px;
  background: url(../image/common/bullet-arrow-down-medium.png) right center no-repeat;
}
#select-slide .is-open .Select-control .Select-value-label{
  background-image: url(../image/common/bullet-arrow-up-medium.png);
}
#select-slide:hover .Select-control .Select-value-label{
  opacity: 1;
}

#select-slide .Select-menu-outer{
  top: 38px;
  border: 1px solid #111;
  -webkit-border-radius: 7px;
          border-radius: 7px;
}
#select-slide .Select-menu{
  background: #333333;
}
#select-slide .Select-menu-option {
  color: #999999;
}
#select-slide .Select-option{
  font-size: 13px;
  color: #999999;
  height: 54px;
  padding: 0 16px;
  line-height: 54px;
}
#select-slide .Select-option .thumbnail.no-image{
  background-color: #cccccc;
}

#select-slide .Select-option.is-selected,
#select-slide .Select-option.is-focused{
  color: #e5e5e5;
  background-color: #212121;
}





/* 
  CUSTOM SELECTABLE COMPONENT STYLES
*/
.selectable-wrap {
  z-index: 1;
  top: 100%; left: 0;
  background-color: #333333;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 13px;
  font-family: 'notokr-medium';
  color: #ccc;
  text-align: left;
  cursor: default;
}

.selectable-double-wrap.selectable-double-wrap {
  position: absolute;
  left: 0;
  top: 133%;
}
.selectable-wrap:before {
  content:'';
  position: absolute;
  display: block;

}
.selectable-container.scrollable {
  height: 100px;
}
.select-title {
  font-size: 11px;
  color: #999;
  padding: 10px 15px;
}



.select-option .select-option {}
.select-option .select-option-anchor {
  font: inherit;
  color: inherit;
  line-height: 1.2;
  padding: 10px 15px;
  display: block;
  width: 100%;
}
.select-option-anchor .option-end {
  color: #666666;
}

.select-option .select-option-anchor:hover,
.select-option .select-option-anchor:focus,
.select-option .select-option-selected .select-option-anchor {
  background-color: #212121;
}
.select-option .select-option-anchor:hover,
.select-option .select-option-anchor:focus,
.select-option .select-option-selected .select-option-anchor {
  color: #fff;
}
.select-option .select-option-anchor:hover .option-end,
.select-option .select-option-anchor:focus .option-end,
.select-option .select-option-selected .select-option-anchor .option-end{
  color: #999;
}



/* selectable custom theme : light-gray */

.selectable-wrap.light-gray {
  background-color: #474747;  
  border-bottom: 1px solid #222;
}
.selectable-wrap.light-gray .select-option .select-option-anchor {
  font-size: 16px;  
}

/* selectable custom theme : double */
.selectable-double-wrap {
  position: absolute;
  z-index: 1;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 10px 25px 10px rgba(0,0,0, 0.18);
}
/* arrow css */
.arrow-border-dark:after, 
.arrow-border-dark:before {
  bottom: 100%;
  left: 35%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow-border-dark:after {
  border-color: rgba(71, 71, 71, 0);
  border-bottom-color: #474747;
  border-width: 8px;
  border-bottom-width: 6px;
  margin-left: -8px;
}
.arrow-border-dark:before {
  border-color: rgba(33, 33, 33, 0);
  border-bottom-color: #000;
  border-width: 9px;
  border-bottom-width: 7px;
  margin-left: -9px;
}
/* E// arrow css*/

.selectable-wrap.selectable-double-top {
  position: relative;
  top: 0;
  border: 0;
  border-radius: 0;
}
.selectable-wrap.selectable-double-bottom {
  position: relative;
  top: 0;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}
.selectable-wrap.selectable-double-bottom:after {
  position: absolute; z-index: 1;
  left: 0; right: 0; bottom: 0; height: 0;
  content: '';
  display: block;
  box-shadow: 0 0 30px 50px rgba(50,50,50, 1); 
  opacity: .6;
}


/* scrollbar styles */
.selectable-container.scrollable .viewport {
  height: 100%;
}
.selectable-container.scrollable .viewport .overview {
  width: 100%;
}
.selectable-container.scrollable .scroll-bar.vertical {
}
.selectable-container.scrollable .scroll-bar.vertical .thumb{
  background-color: #525252;
}




/* CUSTOM COMPONENT (고객 결제금액 차감 및 충전) */
.creatable-wrap {
  height: 75px;
  position: absolute;
  z-index: 1;
  top: 133%;
  left: -12px;
  width: 420px;
  background-color: #333;
  border: 1px solid #262626;
  -webkit-border-radius:4px;
          border-radius:4px;
  -webkit-box-shadow: 0 5px 8px 0px rgba(0,0,0,0.2);
          box-shadow: 0 5px 8px 0px rgba(0,0,0,0.2);

}
.creatable-wrap.arrow-border-dark:before,
.creatable-wrap.arrow-border-dark:after {
  border-bottom-color: #333;
  left: 45%; margin: 0;
}
.creatable-wrap .creatable-container {
  height: 100%;
}
.creatable-wrap .creatable-container:after {
  display: block;clear: both;content:'';
}
.creatable-wrap .creatable-field {
  width: 82%;
  height: 100%;
  padding: 20px 10px 10px 30px;
  float: left;
}
.creatable-wrap .creatable-field-inner {
  font-size: 16px;
}
.creatable-wrap .creatable-field-input {
  max-width: 255px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #717171;
}
.creatable-wrap .creatable-field-input input {  
  font-size: 24px;
  color: #fff;
  width: 100%;
  display: block;
  height: 35px;
  line-height: 35px;  
  background-color: transparent;
  border: 0;outline: 0;
}
.creatable-wrap .creatable-field-input input.placeholder {
  font-size: 16px;
  font-family: 'notokr-medium';
  color: #6d6d6d;
}
.creatable-wrap .creatable-field-unit {
  font-size: 18px;
  color: #858585;
  font-family: 'notokr-bold';
  text-indent: 2px;
  display: inline-block;
  vertical-align: middle;
}
.creatable-wrap .creatable-field-unit label{

}
.creatable-wrap .creatable-ui {
  width: 18%; height: 100%; float: right;
  background-color: #212121;
}
.creatable-wrap .creatable-ui button{
  font-family: 'notokr-bold'; 
  font-size: 13px !important; 
  color: rgba(255,255,255, 1) !important;
  line-height: 1;
  display: block; text-indent: 18px;
  width: 100%; height: 50%; opacity: .3;
}
.creatable-wrap .creatable-ui button:hover,
.creatable-wrap .creatable-ui button:focus {
  opacity: .8;
  background-color: #202020 !important;
}
.creatable-wrap .creatable-ui button.decrement{
  background: url(../image/common/bullet-minus.png) 18px center no-repeat;
  border-bottom: 1px solid #333333;
}
.creatable-wrap .creatable-ui button.increment{
  background: url(../image/common/bullet-plus.png) 18px center no-repeat;
}