@charset "utf-8";

.slider{display: inline-block;background: none !important; margin-top: 140px;transition: .3s margin ease;}
.slick-slider {
    text-align: left;
    position: relative;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slider .slick-list{width: 460px;overflow: hidden;}
.slider .slick-slide{float: left;}
.slider .slick-arrow{width: 48px;height: 48px;overflow: hidden;text-indent: -9999px;position: absolute;top: 220px;background: url(../image/common/btn-controler.png) no-repeat;}
.slider .slick-prev{background-position: 0 0; left: -88px;}
.slider .slick-prev:hover,
.slider .slick-prev:focus{background-position: 0 -48px;}
.slider .slick-prev:active{background-position: 0 -96px;}
.slider .slick-next{background-position: 100% 0; right: -88px;}
.slider .slick-next:hover,
.slider .slick-next:focus{background-position: 100% -48px;}
.slider .slick-next:active{background-position: 100% -96px;}

.slider .slider-date {text-align: center;margin-bottom: 25px;}
.slider .slider-date button{
    font-family: 'notokr-bold'; font-size: 24px; line-height: 24px; color: #fff; padding-right: 17px;
    background: url(../image/common/bullet-arrow-down-large.png) right center no-repeat;
}

.customer-head{
    position: relative; height: 48px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,000000+100 */
    background: rgb(26,26,26); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(26,26,26,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */ 
}
.customer-head:after{display: block;clear: both;content:'';}
.customer-head .nav{    
  font-size: 13px;display: block;float: left;color: #808080;height: 48px;line-height: 48px;
}
.customer-head .nav .current {color: #fff;}
.customer-head .state{
    font-size: 12px;font-family: 'notokr-bold'; color: #ccc; height: 20px; line-height: 20px; margin: 14px 0 0 10px;
    border-radius: 4px; padding: 0 8px;background-color: #212121;float: left;
}
.customer-head .btn-close{
    position: absolute; right: 0; top: 0; bottom: 0; width: 48px;height: 48px;opacity: .8;z-index: 1; 
    background: url(../image/common/btn-close-4.png) center center no-repeat;
}
.customer-head .btn-close:hover,
.customer-head .btn-close:focus {opacity: 1;}

.customer-detail-wrap{text-align: center;}
.customer-detail {width: 460px;overflow: hidden;}
.customer-detail .product{
    font-family: 'notokr-medium';position: relative;padding: 30px 90px 24px 30px;background-color: #EEE;
    box-sizing: content-box; border: 2px solid transparent;border-bottom: 1px solid #ccc;
}
.customer-detail .product:not(:hover){border-left-color: transparent !important;border-right-color: transparent !important;border-top-color: transparent !important;}
.customer-detail .product:hover{border-bottom-width: 2px;margin-bottom: -1px;}
.customer-detail .product button {padding: 0; font: inherit;color: inherit;line-height: inherit;height: auto;}
.customer-detail .product span {}
.customer-detail .product .edit-ui {padding-right: 15px;background-position: right center;background-repeat: no-repeat;}
.customer-detail .product .edit-ui:hover{background-image: url(../image/common/icon-edit-split.png);}
.customer-detail .product .edit-ui button {border-bottom: 1px dashed #ccc5c2; }
.customer-detail .product .edit-ui:hover button,
.customer-detail .product .edit-ui button:focus{border-bottom-color: #807570;}

.customer-detail .product .tit{font-family: 'notokr-regular'; letter-spacing: -0.6px;color: #999999;margin-bottom: 7px;display: block;}
.customer-detail .product .res-info{margin-bottom: 22px;}
.customer-detail .product .res-info .time{font-size: 22px;line-height: 28px;color: #555555;position: relative;display: inline-block;}
.customer-detail .product .res-info .time em{font-size: 13px;letter-spacing: -0.3px; margin-left: 3px;margin-top: -5px;display: inline-block;vertical-align: middle;}
.customer-detail .product .res-info .time-date{margin-right: 10px;}
.customer-detail .product .res-info .time-hour{}
.customer-detail .product .type:after{ display: block;clear: both;content: ''; }
.customer-detail .product .type .service-name{font-size: 20px;line-height: 25px;letter-spacing: -0.3px;color: #555555;display: block;float: left;position: relative;}
.customer-detail .product .type .service-name .service-time{font-size: 13px;font-family: 'notokr-medium';color: #888;display: inline;margin-left: 5px;}
.customer-detail .product .price{font-size: 20px;color: #555555;display: block;line-height: 28px;clear: both;position: relative;background: none !important;}
.customer-detail .product .price > span,
.customer-detail .product .price > button {line-height: 30px; font-family: 'notokr-regular'; }
.customer-detail .product .price .won{color: #888;display: inline;font-family: 'notokr-regular';}
.customer-detail .product .price .price-change{font-size: 11px;font-family: 'notokr-bold';color: #fff;line-height: 24px;height: 24px;padding: 0 10px;border-radius: 13px;background-color: #aaa;margin-left: 5px;border: 0 !important;}
.customer-detail .product .price > span,
.customer-detail .product .price .price-change {display: inline-block;vertical-align: middle;}
.customer-detail .product .price .count {font-family: 'notokr-bold'; margin-right: 7px; font-size: 18px;}
.customer-detail .product .price .count strong{font-style: 'normal';}
.customer-detail .product .ui{position: absolute;top:33px;right: 20px;}
.customer-detail .product .ui .ui-each{display: block;}
.customer-detail .product .ui .ui-each:first-of-type{margin-bottom: 5px;}
.customer-detail .product .ui .ui-each button{width: 44px;height: 44px;border-radius: 50%;background: rgba(0,0,0, .1) url(../image/common/icon-utils.png) no-repeat;opacity: .5;}
.customer-detail .product .ui .ui-each button:hover,
.customer-detail .product .ui .ui-each button:focus{opacity: 1;}
.customer-detail .product .ui .ui-each .title{font-size: 11px;letter-spacing: -0.6px;color: #666;font-family: 'notokr-medium';text-align: center;visibility: hidden;display: block;margin-top: 3px;}
.customer-detail .product .ui .ui-each button:hover ~ .title,
.customer-detail .product .ui .ui-each button:focus ~ .title{visibility: visible;}

.customer-detail .product .ui .ui-edit button{background-position: -44px 0;}
.customer-detail .product .ui .ui-delete button{background-position: -44px -44px;}
.customer-detail .product .ui .ui-delete .title{display: none !important;}

.customer-detail .user-card-basic {background-color: #fff;}

.customer-detail .bottom{border-top: 1px solid #D9D9D9;background-color: #fff;}
.customer-detail .bottom .tabmenu{height: 40px;}
.customer-detail .bottom .tabmenu button{
	font-family: 'notokr-medium'; letter-spacing: -0.3px;color: #999;height: 40px;line-height: 40px;
	display: block;float: left;	width: 50%;background-color: #E6E6E6;text-align: center;outline: 0;
}
.customer-detail .bottom .tabmenu button:hover,
.customer-detail .bottom .tabmenu button:focus{color: #000;}
.customer-detail .bottom .tabmenu button.active{background-color: #FFF;color: #000;}
.customer-detail .bottom .history:after{display: block;clear: both;content:'';}
/* slick-slider style */
.customer-detail .bottom .history .slick-list {}
/* //E slick-slider style*/
.customer-detail .bottom .history .history-container{width: 100%;min-height: 230px;position: relative;}
.customer-detail .bottom .history .history-list{}
.customer-detail .bottom .history .history-list:hover .history-list-button,
.customer-detail .bottom .history .history-list .history-list-button:focus {background-color: #f2f2f2;}
.customer-detail .bottom .history .history-list .history-list-button {display: block;width: 100%;text-align: left;padding: 0 30px;height: auto;}
.customer-detail .bottom .history .history-list .content{max-height: 77px;padding: 20px 30px 20px 13px;border-bottom: 1px solid #E6E6E6;position: relative;}
.customer-detail .bottom .history .history-list:last-child .content{border-bottom: 0;}
.customer-detail .bottom .history .history-list .content:after{
    width: 8px;height: 11px; margin-top: -5px; top:50%;right: 0; position: absolute;content:'';display: block;
    background: url(../image/common/bullet-arrow-controler.png) 0 0 no-repeat;
}
.customer-detail .bottom .history .history-list.active .content:after{background-position: 0 100%;}
.customer-detail .bottom .history .history-list .content .info{position: relative;letter-spacing: -0.3px;}
.customer-detail .bottom .history .history-list .content .info:after{
        display: block;width: 8px;height: 8px;border-radius: 50%;
        background-color: #aaa;position: absolute;left: -14px;top: 7px;content:'';
}
.customer-detail .bottom .history .history-list .content .info span{display: inline-block;vertical-align: middle;}
.customer-detail .bottom .history .history-list .content .info .product-name{
    color: #333333;font-family: 'notokr-medium';padding-right: 5px;
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap; max-width: 175px;
}
.customer-detail .bottom .history .history-list .content .info .info-etc{font-size: 12px;color: #808080;}
.customer-detail .bottom .history .history-list .content .info .date{font-family: 'notokr-medium';font-size: 12px;color: #999999;line-height: 20px;float: right;}
.customer-detail .bottom .history .history-list .content .info .date.today{color: #E60B25;}
.customer-detail .bottom .history .history-list .content .comment{
	font-family: 'notokr-regular';font-size: 12px;color: #666;overflow: hidden;
    text-overflow: ellipsis;white-space: nowrap;margin-top: 4px;letter-spacing: -0.3px; 
}
.customer-detail .bottom .history .history-list .content .no-comment {opacity: .4;}

.customer-detail .bottom .no-history{
    height: 230px; padding: 24px 0;text-align: center;color: #999;line-height: 206px;
}

.customer-detail .bottom .comments{
    padding: 28px 24px 0; height: 276px;
}
.customer-detail .bottom .comments .textarea{
    width: 100%; height: 202px; padding: 16px 20px 12px 20px; line-height: 1.45;
    background-color: #fff; border: 1px solid #e5e5e5; border-radius: 3px; outline: 0;
    font-family: 'notokr-regular'; color: #404040; letter-spacing: -0.3px; resize: none;
}
.customer-detail .bottom .comments .textarea:disabled {
    background-color: #eee; color: #666;
}
.customer-detail .bottom .comments .textarea.no-comment{
    color: #999;
}
.customer-detail .bottom .comments .ui{
    height: 46px; border-top: 1px solid transparent;
}
.customer-detail .bottom .history-detail {
    width: 100%; height: 100%; background-color: #fff;
    position: absolute; left: 100%; top: 0;z-index: 1;
       -moz-transition: .5s left ease;
         -o-transition: .5s left ease;
    -webkit-transition: .5s left ease;
            transition: .5s left ease;
}
.customer-detail .bottom .active .history-detail {
    left: 0;
}
.customer-detail .bottom .active .history-detail-info {
    height: 67px; display: block; padding-top: 18px; margin: 0 24px 0 24px;
}
.customer-detail .bottom .active .history-detail-info button {
    float: left; padding-left: 23px; font-size: 12px;font-family: 'notokr-medium'; position: relative;
    color: #4c4c4c; letter-spacing: -0.3px;text-align: left; line-height: 1.2; height: auto;
}
.customer-detail .bottom .active .history-detail-info button:before {
    opacity: .5; display: block;content: ''; position: absolute;left: 0; top: 50%;
    width: 11px; height: 20px; z-index: -1; margin-top: -10px; 
    background: url(../image/common/bullet-arrow-controler-prev.png) 0 center no-repeat;

}
.customer-detail .bottom .active .history-detail-info button div {
    border-bottom: 1px solid transparent; float: left;clear: both;
}
.customer-detail .bottom .active .history-detail-info button div:after {
    display: block;clear: both;content: '';
}
.customer-detail .bottom .active .history-detail-info button div:first-of-type {
    margin-bottom: 5px;
}
.customer-detail .bottom .active .history-detail-info button:hover div,
.customer-detail .bottom .active .history-detail-info button:focus div {
    border-bottom-color: #b2b2b2;
}
.customer-detail .bottom .active .history-detail-info button div span {
    vertical-align: text-bottom;
}
.customer-detail .bottom .active .history-detail-info button .product-name{
    font-size: 14px; margin-right: 10px;
}
.customer-detail .bottom .active .history-detail-info button .info-etc{
    color: #b2b2b2;
}
.customer-detail .bottom .active .history-detail-info .product-amount {
    margin-right: 6px;
}
.customer-detail .bottom .active .history-detail-info .prepayment-amount {
    color: #b2b2b2;
}
.customer-detail .bottom .active .history-detail-info .date {
    font-family: 'notokr-medium';font-size: 12px;color: #999999;line-height: 20px;float: right;
}
.customer-detail .bottom .active .history-detail-info .date.today {
    color: #e60b25;
}
.customer-detail .bottom .history-detail .history-comment {
    overflow: auto;
    margin: 0 24px 0 24px;padding-bottom: 1px;
    height: 163px; border: 1px solid #e6e6e6;
    background-color: #f2f2f2; 
    -webkit-border-radius: 3px;
            border-radius: 3px;
}
/* 수정 상태가 아닌경우의 고객메모, 시술자메모 style */
.customer-detail .bottom .history-detail .history-comment .comment {
    font-size: 12px; letter-spacing: -0.3px; color: #666;
    line-height: 21px;  padding: 16px 20px 0 16px;
}
.customer-detail .bottom .history-detail .history-comment .comment .caption {
    font-weight: normal; font-family: 'notokr-bold';float: left; margin-right: 5px; color: #666;
}
.customer-detail .bottom .history-detail .history-comment .comment .memo{}
/* 수정상태의 고객메모, 시술자메모 style */
.customer-detail .bottom .history-detail .history-comment textarea{
    font-size: 12px; letter-spacing: -0.3px; color: #404040;
    line-height: 21px; outline: 0;
    background-color: #fff; display: block;
    resize: none; width: 100%; height: 100%;
    padding: 16px 20px 10px 16px; 
}
/* // E */
.customer-detail .bottom .history-detail .history-ui {
    position: absolute;
    left: 0; right: 0; bottom: 0; height: 40px;
}
.customer-detail .bottom .history-detail .history-ui button {
    width: auto;
    height: 100%;
    float: left;
}
.customer-detail .bottom .history-detail .history-ui .ui-edit {
    float: right;
}
.customer-detail .indicator,
.customer-detail .history-ui {
    height: 46px;line-height: 46px; position: relative;border-top: 1px solid;
}
.customer-detail .indicator {
    border-top-color: #d9d9d9;background-color: #F2F2F2;text-align: center;
    font-family: 'notokr-bold';padding: 0 28px; letter-spacing: -0.3px; 
}
.customer-detail .indicator button{
    width: 36px;height: 36px;line-height: 36px;font-family: inherit;border-radius: 50%;line-height: 1;
    padding: 10px;text-indent: -9999px;overflow: hidden;position: absolute;top: 5px;
}
.customer-detail .indicator button:hover,
.customer-detail .indicator button:focus {background-color: #d9d9d9 !important;}
.customer-detail .indicator button.prev{background: url(../image/common/pager-prev.png) center center no-repeat;left: 20px;}
.customer-detail .indicator button.next{background: url(../image/common/pager-next.png) center center no-repeat;right: 20px;}
.customer-detail .indicator span {color: #808080;font-family: inherit;}
.customer-detail .indicator input{width: 33px;height: 22px;color: #000;background-color: #FFF;border: 1px solid #B3B3B3; text-align: center;font-family: inherit;margin-top: -3px;
	-webkit-border-radius: 2px;
			border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px #B3B3B3 inset;
			box-shadow: 0 1px 1px #B3B3B3 inset;
}
.customer-detail .ui.history-ui {
    border-top-color: transparent; padding: 0 24px;
}
.customer-detail .ui button {
    opacity: .5; padding: 0; min-width: 20px; height: 100%; display: inline-block;
    background-repeat: no-repeat; background-image: url(../image/common/ui-split.png);
}
.customer-detail .ui button:hover,
.customer-detail .ui button:focus {
    opacity: 1;
}
.customer-detail .ui button.right {
    float: right;
}
.customer-detail .ui button.text-hidden {
    text-indent: -9999px; overflow: hidden; color: transparent;
}

.customer-detail .ui button.complet { background-position: right 16px; padding-right: 16px;}
.customer-detail .ui button.remove { background-position: 0 -44px; padding-left: 0;}
.customer-detail .ui button.cancel { background-position: 0 -12px; padding-left: 16px;}
.customer-detail .ui button.edit { background-position: right -74px; padding-right: 16px;}

.customer-detail .request-approve{margin-top: 20px;}
.customer-detail .request-approve button{
    font-size: 15px; font-family: 'notokr-bold'; letter-spacing: -0.3px;
    width: 100%;height: 50px;line-height: 50px;display: block;
    color: #999;text-align: center; border-radius: 5px;
    background: #1a1a1a; 
    background: -webkit-linear-gradient(top, rgba(26, 26, 26, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(26, 26, 26, 1) 50%, rgba(0, 0, 0, 1) 100%);
}
.customer-detail .request-approve button:hover,
.customer-detail .request-approve button:focus {
    background: #000; 
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 50%, rgba(26, 26, 26, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(26, 26, 26, 1) 100%);
}

/* 예약상태별 카드 스타일*/
.done.customer-detail .product .info:not(:hover) {opacity: .5;}

.request.customer-detail .product{border: 0 !important; margin-bottom: 0 !important;}
.request.customer-detail .product .info .res-info .time,
.request.customer-detail .product .info .type span,
.request.customer-detail .product .info .type .service-name .service-time,
.request.customer-detail .product .info .price .count strong,
.request.customer-detail .product .ui .ui-each .title {color: #fff;}
.request.customer-detail .product .tit{color: rgba(255,255,255, .6) !important;}
.request.customer-detail .product .ui button:hover,
.request.customer-detail .product .ui button:focus {background-color: rgba(0,0,0, .3);}
.request.customer-detail .product .ui .ui-edit button{background-position: 0 0;}
.request.customer-detail .product .ui .ui-delete button{background-position: 0 -44px;}

.request.customer-detail .product .edit-ui:hover button, 
.request.customer-detail .product .edit-ui button:focus {border-bottom-color: #fff;}
.request.customer-detail.red .product {background-color: #d97557;}
.request.customer-detail.blue .product {background-color: #6b7ec1;}
.request.customer-detail.yellow .product {background-color: #c79f3c;}
.request.customer-detail.purple .product {background-color: #9d78c1;}
.request.customer-detail.green .product {background-color: #50b39d;}

.pre-payment.customer-detail .product .price > span{border-bottom: 1px dashed #ccc5c2;}
.pre-payment.customer-detail .product .price:hover > span,
.pre-payment.customer-detail .product .price {border-bottom-color: #807570;}

/* history 상품별 bullet bg color 정의 */
.customer-detail .bottom .history .history-list.red .content .info:after{background-color: #E6BAAC;}
.customer-detail .bottom .history .history-list.blue .content .info:after{background-color: #ACB9E6;}
.customer-detail .bottom .history .history-list.yellow .content .info:after{background-color: #CCBE99;}
.customer-detail .bottom .history .history-list.purple .content .info:after{background-color: #C9ACE6;}
.customer-detail .bottom .history .history-list.green .content .info:after{background-color: #99ccc0;}


/* 고객카드 상품별로 색상정의 */
.red.customer-detail .product .res-info .time{color: #D96441;}
.red.customer-detail .product .type .service-name{color: #D96441;}
.red.customer-detail .product .price{color: #996b5c;}
.red.customer-detail .product .price-change{background-color: #ccbeb8;}
.red.customer-detail .product .price-change:hover,
.red.customer-detail .product .price-change:focus{background-color: #cc937a;}
.red.customer-detail .product{background-color: #FFF6F2;}
.red.customer-detail .product .type .service-name .service-time{color: #B2988F;}
.red.customer-detail .product .price .won{color: #B2988F;}
.red.customer-detail .product{border-color: #E6BAAC;}
.red.cu.customer-detail .product .price .count strong{color: #D96441;}
.red.customer-detail .product .edit-ui:hover{background-position: right -90px;}
.red.customer-detail .request-approve button{color: #ff764c;}

/*.blue.customer-head{background-color: #6274B3;}*/
.blue.customer-detail .product .res-info .time{color: #3550B3;}
.blue.customer-detail .product .type .service-name{color: #3550B3;}
.blue.customer-detail .product .price{color: #626b8c;}
.blue.customer-detail .product .price-change{background-color: #b8becc;}
.blue.customer-detail .product .price-change:hover,
.blue.customer-detail .product .price-change:focus{background-color: #7a93cc;}
.blue.customer-detail .product{background-color: #F2F6FF;}
.blue.customer-detail .product .type .service-name .service-time{color: #A1A5B3;}
.blue.customer-detail .product .price .won{color: #A1A5B3;}
.blue.customer-detail .product{border-color: #ACB9E6;}
.blue.c.customer-detail .product .price .count strong{color: #3550B3;}
.blue.customer-detail .product .edit-ui:hover{background-position: right -30px;}
.blue.customer-detail .request-approve button{color: #6687ff;}

/*.yellow.customer-head{background-color: #D9A521;}*/
.yellow.customer-detail .product .res-info .time{color: #CC8100;}
.yellow.customer-detail .product .type .service-name{color: #CC8100;}
.yellow.customer-detail .product .price{color: #8c7854;}
.yellow.customer-detail .product .price-change{background-color: #cccab8;}
.yellow.customer-detail .product .price-change:hover,
.yellow.customer-detail .product .price-change:focus{background-color: #bfb873;}
.yellow.customer-detail .product{background-color: #FFFEF2;}
.yellow.customer-detail .product .type .service-name .service-time{color: #B3B08F;}
.yellow.customer-detail .product .price .won{color: #B3B08F;}
.yellow.customer-detail .product{border-color: #CCBE99;}
.yellow.customer-detail .product .price .count strong{color: #CC8100;}
.yellow.customer-detail .product .edit-ui:hover{background-position: right 0;}
.yellow.customer-detail .request-approve button{color: #c79f3c;}

/*.purple.customer-head{background-color: #8F6BB3;}*/
.purple.customer-detail .product .res-info .time{color: #7435B3;}
.purple.customer-detail .product .type .service-name{color: #7435B3;}
.purple.customer-detail .product .price{color: #77628c;}
.purple.customer-detail .product .price-change{background-color: #c2b8cc;}
.purple.customer-detail .product .price-change:hover,
.purple.customer-detail .product .price-change:focus{background-color: #ad82d9;}
.purple.customer-detail .product{background-color: #F9F2FF;}
.purple.customer-detail .product .type .service-name .service-time{color: #AAA1B3;}
.purple.customer-detail .product .price .won{color: #AAA1B3;}
.purple.customer-detail .product{border-color: #C9ACE6;}
.purple.customer-detail .product .price .count strong{color: #7435B3;}
.purple.customer-detail .product .edit-ui:hover{background-position: right -120px;}
.purple.customer-detail .request-approve button{color: #bf80ff;}

/*.green.customer-head{background-color: #56b39e;}*/
.green.customer-detail .product .res-info .time{color: #1f997e;}
.green.customer-detail .product .type .service-name{color: #1f997e;}
.green.customer-detail .product .price{color: #628c83;}
.green.customer-detail .product .price-change{background-color: #b8ccc7;}
.green.customer-detail .product .price-change:hover,
.green.customer-detail .product .price-change:focus{background-color: #73bfac;}
.green.customer-detail .product{background-color: #f2fffc;}
.green.customer-detail .product .type .service-name .service-time{color: #a1b3af;}
.green.customer-detail .product .price .won{color: #a1b3af;}
.green.customer-detail .product{border-color: #99ccc0;}
.green..customer-detail .product .price .count strong{color: #1f997e;}
.green.customer-detail .product .edit-ui:hover{background-position: right -60px;}
.green.customer-detail .request-approve button{color: #50b39d;}

@media screen and (max-height: 1024px) {
    .slider{ margin-top: 50px; }
}